<section class="section summary-section">
    <h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
    <div class="summary">
        <p>Seeking a full-time software engineer position.</p>
            <p>Master graduated from New York University with three years of experience in objected-oriented design, deep knowledge of data
                structure, algorithms and network structure. Has a wide of project experience, including JavaScript development, Software-
                Defined Networking.</p>
        <p>Honor: 
            <li>Graduate of Engineering Scholarship for Good Academic Performance in New York University</li>
            <li>
        </p>
    </div>
    <!--//summary-->
</section>
<!--//section-->