<div class="education-container container-block">
    <h2 class="container-block-title">Education</h2>
    <div class="item">
        <h4 class="degree">Master</h4>
        <h5 class="meta">New York Univeristy</h5>
        <div class="time">Sept.2015 - May.2017</div>
    </div>
    <!--//item-->
    <div class="item">
        <h4 class="degree">Bachelor</h4>
        <h5 class="meta">Beijing University of Posts and Telecommunications</h5>
        <div class="time">Sept.2010 - June.2014</div>
    </div>
    <!--//item-->
</div>
<!--//education-container-->