<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>Projects</h2>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Simple Web Server Built</h3>
                <div class="time">June 2017</div>
            </div>
            <!--//upper-row-->
            <div class="company">New York City</div>
        </div>
        <!--//meta-->
        <div class="details">
            <ul>
                <li>Designed database schema in <b>Postgresql</b> and modelized to objects with <b>RESTful</b>.</li>
                <li>Built RESTful web server supporting easy data access from front-end side by <b>Express</b>.</li>
            </ul>
        </div>
        <!--//details-->
    </div>
    <!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Small-scale SDN Construction</h3>
                <div class="time">Oct 2016</div>
            </div>
            <!--//upper-row-->
            <div class="company">New York City</div>
        </div>
        <!--//meta-->
        <div class="details">
            <ul>
                <li>Built different SDN structures through Mininet by using <b>python</b>.</li>
                <li>Implemented counting words in huge-scale file with MapReduce algorithm on <b>OpenStack</b>.</li>
                <li>Achieved flow control like drop, transfer and drop specific package by open virtual switches and <b>openFlow</b> switches.</li>
                <li>Built a virtual network with <b>FlowVisor</b>.</li>
            </ul>
        </div>
        <!--//details-->
    </div>
    <!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Realtime Apps</h3>
                <div class="time">June 2016</div>
            </div>
            <!--//upper-row-->
            <div class="company">New York City</div>
        </div>
        <!--//meta-->
        <div class="details">
            <ul>
                <li>Built an URL Shorten Web-application which can shorten website URL and count how many times people click through the short URL. Using <b>React-Meteor</b> web structure to implementing communication between clients and server. </li>
                <li>Built the front-end web pages through <b>React JS</b> which achieved showing more information through page scrolling,
                    implementing apps score in visual format, redirecting to download link, and user’s login</li>
                <li>Used <b>MongoDB</b>, NoSQL database, as our database and managed it by Meteor JS.</li>
            </ul>
        </div>
        <!--//details-->
    </div>

    <!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Implement Information Processing with Echo State Networks</h3>
                <div class="time">Aug 2013 - Apr 2014</div>
            </div>
            <!--//upper-row-->
            <div class="company">Tsinghua University, Beijing</div>
        </div>
        <!--//meta-->
        <div class="details">
            <ul>
                <li>Implemented the ESN model in a well-know paper by <b>MATLAB</b>.</li>
                <li>Used a single dynamical node as ESN instead of traditional reservoir with fixed connections</li>
                <li>Evaluated model performance of classification via k-fold cross-validation by <b>WEKA</b> and got excellent performance in two
                    e series prediction benchmarks.</li>
            </ul>
        </div>
        <!--//details-->
    </div>

    <!--//item-->

</section>
<!--//section-->